%html
  %head
    %meta{ "http-equiv" => "Content-type", content: "text/html; charset=utf-8" }
  %body
    %p
      From:
      = @form.email
    %p
      Subject:
      = @form.title
    %p
      Message:
      = @form.content
