$black: #000;
$charcoal: #666;
$lightGray: #aaa;
$red: $black;

$paragraphFont: "ff-tisa-web-pro", Helvetica, Arial;
$headerFont: "myriad-pro", Helvetica, Arial;

$linkColor: $charcoal;
$linkColorHover: $black;
$baseFontFamily: $paragraphFont;
