$black: #000;
$charcoal: #333;
$lightGray: #ccc;

$paragraphFont: "myriad-pro", Helvetica, Arial;
$headerFont: "myriad-pro-semi-condensed", Helvetica, Arial;

$linkColor: $charcoal;
$baseFontFamily: $paragraphFont;
