html, body {
  height:100%;
  margin: 0;
}

header {
  margin-top: 20px;

  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 880px;
      margin: 0 auto;
      margin-bottom: 15px;

      li {
        display: inline-block;
        margin: 0 50px;

        width: 60px;
        &.logo {
          width: auto;
        }

        a {
          color: $charcoal;
          text-transform: uppercase;
          letter-spacing: 6px;
          font-size: .9em;
        }

        &.current {
          a {
            color: $black;
            font-weight: 700;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
  header nav ul {
    width: 653px;

    li {
      margin: 0 23px;
      width: 70px;
    }
  }
}

@media only screen and (max-width: 767px) {
  header {
    margin-top: 0;

    nav ul {
      width: auto;
      margin-bottom: 0;

      li {
        display: block;
        margin: 5px 0;
        width: auto;

        &.logo {
          position: absolute;
          top: 20px;
          right: 15px;
        }
      }
    }
  }
}

.wave {
  text-align: center;
}

#content {
  margin: 40px 0;
}

$footerHeight: 50px;

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: $footerHeight * -1;
}

#footer-push {
  height: $footerHeight;
}

footer {
  height: $footerHeight;

  #fine-print {
    font-size: .8em;
    text-align: center;
  }
}
