.post {
  .post-header {
    @extend .clearfix;
    margin-bottom: 5px;

    h1, h2 {
      display: inline;
      text-transform: uppercase;
      font-weight: normal;
    }

    .post-date {
      color: $lightGray;
      text-transform: uppercase;
      letter-spacing: 6px;
    }
  }

  .post-content {
    line-height: $contentLineHeight;
  }

  margin-bottom: 40px;
}
