h1, h2, h3, h4 {
  font-family: $headerFont;
}

a:hover {
  text-decoration: none;
}

abbr[title] {
  cursor: default;
  border: none;
}

.html-editor {
  width: 570px;
}

.html-output {
  line-height: $contentLineHeight;
}

#contact {
  input[type=text], input[type=email], textarea {
    width: 100%;
  }
}

.photo {
  padding: 1px;
  border: solid 1px $charcoal;
  border-radius: 5px;
  display: inline-block;

  img {
    border-radius: 3px;
  }
}
