h1, h2, h3, h4 {
  font-family: $headerFont;
  text-transform: uppercase;
  font-weight: normal;
}

a {
  color: $charcoal;
  text-decoration: none;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

abbr[title] {
  cursor: default;
  border: none;
}

.html-editor {
  width: 570px;
}

.html-output {
  line-height: $contentLineHeight;
}

#contact {
  input[type=text], input[type=email], textarea {
    width: 100%;
  }
}

#home {
  text-align: center;
}

.photo {
  padding: 1px;
  border: solid 1px $charcoal;
  border-radius: 5px;
  display: inline-block;

  img {
    border-radius: 3px;
  }
}

.clearfix {
  &:before, &:after {
    content:"";
    display:table;
  }

  &:after {
    clear:both;
  }
}

.right {
  float: right;
  margin: 0 0 20px 50px;
}
